:root{
    --main-color: #87CFD3;
    --background-color:#0E1011;
    --light-black-color:#1E2223;
    --text-color:#dcddde;
}
body{
    padding: 0;
    margin: 0;
    background: var(--background-color);
    overflow-x: hidden;
    justify-content: center;
}


placeholder::content{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif
}

hr{
    border: solid var(--background-color) 1px;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-color);
    font-size: 30px;
}


h2{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-color);
    margin: 0;
}

h3{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-color);
    margin: 0;
}


h4{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    text-decoration: underline;
    margin: 0;
    text-decoration: none;
    font-weight:300;
    color: lightgray;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 100;
    line-height: 22px;
    color: var(--text-color);
    box-sizing: border-box;
    margin: 5px;
    margin-left: auto;
}

button{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-size: 24px;
    height: 40px;
    color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #a4faff;
    font-weight: bold;
}

.logo{
    position: relative;
    background: var(--main-color);
    height: 180px;
    width: 180px;
    box-sizing: border-box;
    border-radius: 100%;
    transition: 0.5s;
  
}

.bradaKosa{
    position: absolute;
    height: 140px;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
}

.naocari{
    background-image: url(assets/general/shine-01.png);
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
}

.image-of-me {
    position: relative;
    left: 50%;
    max-width: 450px;
    transform: translate(-50%);
    z-index: 3;
    top: 80px;
}
.image-background {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(to top, rgba(13,36,51,0) 0%, rgb(136,209,212,1) 100%);
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50% 50% 0 0;
}

.about-body-text{
    margin-top: 100px;
}

.main{
    width: 80%;
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 5%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
}

.social_media_buttons{
    flex:1;
    display: flex;
    gap: 15px;
    flex-wrap: 1;
    justify-content: center;
    align-items: center;
}

.button_section{
    position: relative;
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px; 
}

.button{
    position: relative;
    background-color: white;
    width: 100%;
    height: 70px;
    border-radius: 1rem;
    background-color: var(--light-black-color);
    transition: outline 0.3s, height 1s;
}

#submitPopUp, #submitPopUp2{
    text-align: center;
    display: none;
    margin-top: 10px;
    font-size: 18px;
    color: green
}

.singleSocial{
    height: 65px;

}

.icon{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 100%;
}

#contentCode3{
    transition: 1s;
    visibility:visible;
}


#buttonCode3{
    transition: 0.4s;
}

.button:hover{
    outline: solid var(--main-color);
}

.secret_button{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    z-index: 5;
    cursor: pointer;
}

.arrow{
    right: 30px;
    height: 15px;
    width: 15px;
    position: absolute;
    background-image: url('/assets/general/arrow.png');
    background-size: cover;
    top: 30px;
    transition: 0.5s ease-in-out;
}


.main_buttom_text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

.content{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%);
    width: 88%;
    height: max-content;
    opacity: 0;
    transition: 1s ease-in;
    overflow: hidden;
}

#contentCode1, #contentCode2, #contentCode3{
    margin-top: 20px;
    display: none;
    visibility: none;
    opacity: 0;
    transition: 0.3s ease;
    }
    
.content.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    caret-color: var(--main-color);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif

}

input:focus, textarea:focus{
    border: solid var(--main-color) 1px;
    outline: solid var(--main-color) 1px;
    color: var(--text-color);
}

textarea{
    width: 100%;
    height: 100px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--background-color); /* Change to your desired text color */
}

#colorPicker, #imgPicker{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ; /* Three columns with equal width */
    grid-gap: 10px; /* Gap between grid items */
    grid-auto-flow: row; /* Arrange grid items in rows */
    row-gap: 20px;
}

.formCustomColor{
    display: flex;
    align-items: center;
    gap: 0;
    width: 100%;
}


.color-input{
    outline: none;
    border: none;
    background-color: var(--light-black-color);
    width: 10%;
    height: 50px;
    margin: 0;
    padding: 0;
    outline: none;
}

.color-text-input{
    width: 30%;
    max-height: 40px;
}

#creatingColor{
    position: relative;
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border: solid var(--main-color);
}

#creatingTextColor{
    display: inline;
    position: absolute;
    top: 50px;
    width: 100%;
    box-sizing: border-box;
    color: gray;

}

#creatingX{
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    right: 0;
    font-size: 20px;
    padding: 3px;
    font-family: roboto;
}

.colorAdding{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 15px;
    row-gap: 15px;
}


.submit-color{
    width: 30%;
    font-size: 16px;
}

.imageDiv{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    position: relative;
    width: 165px;
    height: 165px;
    background-size: cover;
    box-sizing: border-box;
}

.mainDiv{
    position: relative;
    
}

.imgInput{
    position: absolute;
    top: 105px;
}

.checkMark:after {
    content: '';
    position: absolute;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
}

.sliki{
    position: relative;
    height: 50%;
    width: 60%;
    left: 50%;
    border-radius: 100% 100% 0 0;
    transform: translateX(-50%);
}

#inspirationTextarea{
    position: absolute;
    bottom: 100px;
    height: 60px;
    display: none;
    width: 165px;
    border-radius: 0;
}

.checkMark{
    position: absolute;
    height: 20px;
    top: 10px;
    left: 6px;
}

.checkMarkBg{
width: 40px;
height: 40px;
background-color: var(--main-color);
position: relative;
display: none;
outline: solid var(--main-color);
}

textarea{
box-sizing: border-box;
padding: 10px;
width: 100%;
}

#contactBrief{
    display: flex;
    width: 100%;
    gap: 10px;
}

.nameBrief, .emailBrief{
    width: 100%;
    color: var(--text-color);
}

.socialBg{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: var(--background-color);
    transition: 0.5s;
    border-radius: 10px;
}

.socialBg:hover{
    border-radius: 100%;
}
.singleSocial{
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.singleSocial:hover{
    width: 60px;
}

#dribbble:hover{
    background-color: #EA4C89;
}

#beehance:hover{
    background-color: blue;
}

#linkedin:hover{
    background-color: #0A66C2;
}

#pinterest:hover{
    background-color: red;
}

#youtube:hover{
    background-color: red;
}

#instagram:hover{
    background: #f56319; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);  
}

.tittleMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    text-align: left;
    margin-top: 0;
    height: max-content;
    z-index: 3;
}

.tittlePicker{
    margin-top: 10px;
}
.titleBody{
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    line-height: 50px;
}

.bodyText{
    color: gray;
    font-size: 14px;
    margin-left: 0;
    width: 165px;
}

.titleHeader{
    margin: 0;
}

#colorInfo{
    display: none;
}

.formSection{
    margin-bottom: 30px; 
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.footer >p {
    margin: 0;
    text-align: center;
 
}

.blog_available {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.blog, .available {
  
    margin: 0;
}

.blog{
    cursor: pointer;
    color: var(--text-color);
}

.available::before{
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    position: relative;
    bottom: -15px;
    left: -20px;
    border-radius: 100%;
}

.available{
    
}

.personal__email, .personal_phone{
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}

i{
    letter-spacing: 5px;
}
.phone_email{
    position: fixed;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--main-color);
    bottom: 0;
}

.phone_email>p{
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--background-color);
    
}


#backgroundSection{
    box-sizing: border-box;
    margin-bottom: 20px;
}


@media (max-width: 1024px){
    .colorAdding{
        grid-template-columns: repeat(5,1fr);
    }
    #colorPicker, #imgPicker{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ; /* Three columns with equal width */
        grid-gap: 10px; /* Gap between grid items */
        grid-auto-flow: row; /* Arrange grid items in rows */
        row-gap: 20px;
    }
    .footer{
        flex-direction: column;
        gap: 10px;
    }
    
}

@media (max-width: 700px) {
    .creatingColor{
        width: 90px;
        height: 50px;
    }
    .colorAdding{
        grid-template-columns: repeat(3,1fr);
    }

    #contactBrief{
        flex-direction: column;
    }

    .bradaKosa{
        position: absolute;
        height: 100px;
        left: 50%;
        transform: translate(-50%);
        top: 18px;
    }

    .naocari{
        position: absolute;
        top: 55px;
        left: 50%;
        transform: translate(-50%);
        width: 60px;
    }

    input{
        font-size: 24px;
      }

    textarea{
        font-size: 16px;
      }

    #colorPicker, #imgPicker{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Three columns with equal width */
        grid-gap: 10px; /* Gap between grid items */
        row-gap: 20px;
    }

    

    .main{
        padding: 3%;
        overflow-x: hidden;
        margin-top: 2%;
        width: 100%;
    }

    .button{
        width: 100%;

    }
  
    .social_media_buttons{
        display: flex;
        gap: 15px;
        width: 0%;
        justify-content: center;
        align-items: center;
    }


    .socialBg{
        height: 40px;   
        width: 40px;
    }

    .singleSocial{
        height: 40px;
    }

    .logo{
        height: 130px;
        width: 130px;
    }
    h1 {
        font-size: 24px;
    }
}

@media (max-width: 420px) {
    
.creatingColor{
    width: 75px;
    height: 50px;
}
.mainButtonTextCode2{
    text-align: center;
}


    h1 {
        font-size: 25px;
    }
    .main{
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
    }
}