:root{
    --main-color: #87CFD3;
    --background-color:#0E1011;
    --light-black-color:#1E2223;
    --text-color:#E4E8E9;
}
body{
    padding: 0;
    margin: 0;
    background: var(--background-color);
    overflow-x: hidden;
    
}

hr{

    border: solid var(--background-color) 1px;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-color);
    font-size: 30px;
}


h2{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-color);
}

h3{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--text-color);
}


h4{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
    text-decoration: underline;
}
p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    line-height: 20px;
    color: var(--text-color);

}

button{
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-size: 24px;
    height: 40px;
    color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #a4faff;
    font-weight: bold;
}
.logo{
    margin-top: 40px;
    position: relative;
    background-color: var(--main-color);
    height: 180px;
    width: 180px;
    box-sizing: border-box;
    border-radius: 100%;
}





.bradaKosa{
    position: absolute;
    height: 140px;
    left: 50%;
    transform: translate(-50%);
    top: 20px;
}
.naocari{
    background-image: url(assets/general/shine-01.png);
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
}

#imgCode1 {
    margin-top: 50px;
    height: 500px;
    background-image: url('assets/images_of-me/picture_me1.jpg');
    background-size: cover;

}

#imgCode2 {
    height: 500px;
    background-image: url('assets/images_of-me/ohlela_logo-design.jpg');
    background-size: cover;
    background-position: center;
}

.main{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 30px;
    overflow: hidden;
}


.social_media_buttons{
    display: flex;
    gap: 30px;
    
}





.button_section{
    position: relative;
    display: flex;
    width: 100%;
    height: max-content;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px; 
    cursor: pointer;
}
.button{
    position: relative;
    background-color: white;
    width: 100%;
    height: 70px;
    border-radius: 1rem;
}

.singleSocial{
    height: 65px;
}




.icon{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 100%;
}
#contentCode3{
    visibility:visible;
}

.button{
    background-color: var(--light-black-color);
    transition: outline 0.3s, height 1s;
}


.button:hover{
    outline: solid var(--main-color);
}
.secret_button{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    z-index: 5;
}

.arrow{
    right: 30px;
    height: 15px;
    width: 15px;
    position: absolute;
    background-image: url('/assets/general/arrow.png');
    background-size: cover;
    top: 30px;
    transition: 1s ease-in-out;
}


.main_buttom_text{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    top: 20px;
    margin: 0;
}

.content{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%);
    width: 88%;
    height: max-content;
    opacity: 0;
    transition: 1s ease-in;
    overflow: hidden;
}

#contentCode1, #contentCode2, #contentCode3{
    display: none;
    visibility: none;
    opacity: 0;
    transition: 0.3s ease;
    }
    

.content.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--text-color);
    border: none;
    color: black;
   
}



input:focus, textarea:focus{
    border: solid var(--main-color) 1px;
    outline: solid var(--main-color) 1px;
    color: var(--light-black-color);
}

textarea{
    width: 100%;
    height: 100px;
}

#redImage{
    height: 170px;
    width: 170px;
    background-color: red;
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--background-color); /* Change to your desired text color */
}

#colorPicker, #imgPicker{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* Three columns with equal width */
    grid-gap: 10px; /* Gap between grid items */
    grid-auto-flow: row; /* Arrange grid items in rows */
}


.imageDiv{
    position: relative;
}

.mainDiv{
    position: relative;
}
.imgInput{
    position: absolute;
    top: 105px;
}


  
  .checkMark:after {
    content: '';
    position: absolute;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 5px 5px 0;
    transform: rotate(45deg);
  }



#inspirationTextarea{
    position: absolute;
    bottom: 100px;
    height: 60px;
    display: none;
    width: 165px;
}

.checkMark{
    position: absolute;
    height: 20px;
    top: 10px;
    left: 6px;

}

.checkMarkBg{
width: 40px;
height: 40px;
background-color: var(--main-color);
position: relative;
display: none;
outline: solid var(--main-color);

}



textarea{
box-sizing: border-box;
padding: 10px;
width: 100%;
}

#socialCode1{
    background-color: #ea4c89;

}
#socialCode2{
    background-color: #053EFF;
}

#contactBrief{
    display: flex;
    width: 100%;
    gap: 10px;
}

.nameBrief, .emailBrief{
    width: 100%;
}

#socialCode3{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #8b27dc 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(425deg, #df7a0f 0%,#e6683c 25%,#8b27dc 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #e86411 0%,#e6683c 25%,#8b27dc 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

#socialCode4{
    background-color:#0e76a8;
}
#socialCode5{
    background-color:red;
}

#tittleMain{
    text-align: center;

}
.tittleMain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
}


.titleBody{
    
    margin-top: 0px;
    margin-bottom: 40px;
}

.titleHeader{
    margin: 0;
}

#colorInfo{
    display: none;
}

.formSection{
    margin-bottom: 30px;
}

@media (max-width: 768px) {

    .bradaKosa{
        position: absolute;
        height: 100px;
        left: 50%;
        transform: translate(-50%);
        top: 18px;
    }
    .naocari{
        position: absolute;
        top: 55px;
        left: 50%;
        transform: translate(-50%);
        width: 60px;
    }

      input{
        font-size: 24px;
      }
      textarea{
        font-size: 16px;
      }
#colorPicker, #imgPicker{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Three columns with equal width */
        grid-gap: 10px; /* Gap between grid items */
       
    
    }

    .main_buttom_text{
        margin-top: -3px;
    }

    .arrow{
        top: 18px;
    }

    .main{
        padding: 3%;
        overflow-x: hidden;
    }
    .button{
        width: 100%;
        height: 50px;
    }
    .social_icons{
        height: 40px;
        top: 5px;
    }
    .main_buttom_text{
        top: 12px;    
    }

    .logo{
        height: 130px;
        width: 130px;
    }
}