@import '../.style.css';

*{
    text-align: center;
}

.header{
    margin: 0 auto;
}

.title{
    margin: 0 auto;
    width: 60%;
    
}

.read__more{
    color: gray;
    cursor: pointer;
}

.image__logo{
    display: block;
    margin: 0 auto;
    width: 60%;
}

.main__blog{
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.main__blog * {
    padding: 1rem ;
}

.day, .days, .logo__design {
    color: aqua;
    font-size: 45px;
    line-height: 20px;
    margin-top: 30px
}
.days{
    margin: 0;
    font-size: 35px;
}
.challenge{
    text-align: center;
}

.hashtags{
    text-align: center;
    width: 60%;
    margin: 0 auto;

}

.the{
    margin-top: 5%;
    margin-bottom: 30px;
    text-align: center;
}

.free{
    margin: 0;
    padding: 0;
    font-weight: 800;
}

.email__contact{
    color: aqua;
    cursor: pointer;
    text-align: center;
    padding: 0;
}

.company__name{
    text-align: center;
}

.statusLog{
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}

.sticky{
    cursor: pointer;
    background-color: white;
    position:fixed;
    width: 300px;
    height: 60px;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: aqua;
    box-sizing: border-box;
}



.sticky *{
    color: black;
}

.project_description{
    width: 60%;
    margin: 0 auto;
    
}

@media screen and (max-width: 768px) {
    .hashtags, .image__logo, .title, .header{
        width: 90%;
    }
    .sticky{
        width: 100%;
    }
    .project_description{
        width: 90%;
    }
}




#contact {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
    margin: 0; /* Ensure no margin is added */
    padding: 0; /* Ensure no padding is added */
    display: inline; /* Ensure the element is inline */
}